@model NDKFastfood.Models.KhuyenMai
@{
    ViewBag.Title = "XoaKM";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align: center; font-weight: bold; margin-bottom: 30px;">Xóa khuyến mãi</h2>

<div style="padding-left:70px">
    <dl class="dl-horizontal">
        <dt>
            Mã khuyến mãi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKM)
        </dd>

        <dt>
            Tên khuyến mãi:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKM)
        </dd>

        <dt>
            Phần trăm giảm giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanTramGiamGia)
        </dd>

        <dt>
            Ngày bắt đầu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            Ngày kết thúc:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            Số lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a style="font-weight:bold;color:black;padding-left:70px" href="@Url.Action("KhuyenMai","Admin")"><i class="fa fa-arrow-left"> Trở lại</i></a>
            <button style="font-weight: bold; color: black; margin-left: 30px; " type="submit"><i class="fa fa-trash"> Xóa</i></button>
        </div>
    }
</div>

